<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/auth :: html(~{::body}, 'Forgot Password','lockscreen', ~{::#forgot-password-content}, ~{::#pageScripts})}">
<head>
    <title>Forgot Password</title>
</head>
<body th:class="${bodyClass}">
    <div id="forgot-password-content" class="lockscreen-wrapper">
        <div class="lockscreen-logo">
          <a th:href="@{/}"><b>Admin</b>LTE</a>
        </div>
  
        <div class="lockscreen-name">John Doe</div>
  
        <div class="lockscreen-item">
          <div class="lockscreen-image">
            <img th:src="@{/assets/img/user1-128x128.jpg}" alt="User Image" />
          </div>
  
          <form class="lockscreen-credentials">
            <div class="input-group">
              <input type="password" class="form-control shadow-none" placeholder="password" />
              <div class="input-group-text border-0 bg-transparent px-1">
                <button type="button" class="btn shadow-none">
                  <i class="bi bi-box-arrow-right text-body-secondary"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
  
        <div class="help-block text-center">Enter your password to retrieve your session</div>
        <div class="text-center">
          <a th:href="@{/login}" class="text-decoration-none">Or sign in as a different user</a>
        </div>
    </div>
    <script id="pageScripts">
        const SELECTOR_SIDEBAR_WRAPPER = '.sidebar-wrapper';
        const Default = {
          scrollbarTheme: 'os-theme-light',
          scrollbarAutoHide: 'leave',
          scrollbarClickScroll: true,
        };
        document.addEventListener('DOMContentLoaded', function () {
          const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
  
          // Disable OverlayScrollbars on mobile devices to prevent touch interference
          const isMobile = window.innerWidth <= 992;
  
          if (
            sidebarWrapper &&
            OverlayScrollbarsGlobal?.OverlayScrollbars !== undefined &&
            !isMobile
          ) {
            OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
              scrollbars: {
                theme: Default.scrollbarTheme,
                autoHide: Default.scrollbarAutoHide,
                clickScroll: Default.scrollbarClickScroll,
              },
            });
          }
        });
      </script>  
</body>
</html>